{% extends 'layout/base.html' %}

{% block title %}
	Home
{% endblock title %}

{% block body %}
	{% if message %}
		<div style="padding: 10px; margin: 10px;" class="alert alert-success alert-dismissible fade show" role="alert">
			<p>{{ message }}</p>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
	{% endif %}

	<div class="box-div">
		<form action="/updateInfo" method="POST">
			<div class="form-group">				
				<p>
					
					<label for="url">Provide the URL that is used to access your organization's ArcGIS Portal:</label>
								
					<input type="url" class="form-control" name="url" id="url" placeholder="URL:" value="{{ i[0] }}" required>
									
					<div class="valid-feedback">
						Looks good!
					</div>
								
				</p>

				<p>
					
					<label for="username">Provide the username that is used to sign in to your ArcGIS Online/Enterprise account:</label>
								
					<input type="text" class="form-control" name="username" id="username" placeholder="Username:" value="{{ i[1] }}" required>
									
					<div class="valid-feedback">
						Looks good!
					</div>
								
				</p>

				<p>
					
					<label for="password">Provide the password that is used to sign in to your ArcGIS Online/Enterprise account:</label>
								
					<input type="password" class="form-control" name="password" id="password" placeholder="Password:" value="{{ i[2] }}" required>
									
					<div class="valid-feedback">
						Looks good!
					</div>
								
				</p>

				<p>
					
					<label for="flURL">Provide the URL for the feature layer that stores the Survey123 data. (Content > Survey-(Survey name) (Survey name (Feature Layer)) URL > View > Layers > survey (0)> Copy the current URL then remove "?token=my_token0795746ufhdht46dht357836vve57dv37")</label>
								
					<input type="url" class="form-control" name="flURL" id="flURL" placeholder="Feature Layer URL:" value="{{ i[3] }}" required>
									
					<div class="valid-feedback">
						Looks good!
					</div>
								
				</p>
			</div>

			<div class="form-group">
				<p>
					<button class="btn btn-primary" type="submit">Update</button>
				</p>
			</div>
		</form>
	</div>

	<div class="box-div">
		<p>
			<a href="/startFilter" class="btn btn-primary">Filter</a>
		</p>
	</div>
{% endblock body %}
